<footer class="footer" id="footer">
  <ul class="link-list">
    <li>
      <a href="https://wwww.inkrealm.info" rel="noopener noreferrer" target="_blank">RESUME</a>
    </li>
    <li>
      <a
        href="mailto:inkrealm@inkrealm.info"
        rel="noopener noreferrer"
        target="_blank"
      >
        EMAIL
      </a>
    </li>
    <li>
      <a
        href="https://twitter.com/inkrealm"
        rel="noopener noreferrer"
        target="_blank"
      >
        TWITTER
      </a>
    </li>
    <li>
      <a
        href="https://linkedin.com/in/inkrealm"
        rel="noopener noreferrer"
        target="_blank"
      >
        LINKEDIN
      </a>
    </li>
  </ul>
  <div class="js-space-trigger"></div>
</footer>
