---
layout: layouts/base.njk
textNav:
  aliases: [home, index]
eleventyNavigation:
  key: bio
  title: ink
---
<article class="bio">
  <p class="big-text">
    Hi! I'm <span class="bio__photo" tabindex="0">inky</span>, a <button class="button-text js-channel-trigger" data-channel="8">Carioca</button> planet earth, writer, musician and visual artist.
    <br/><br/> 
    Currently, working on several projects <a href="https://www.inkrealm.cloud/" target="_blank" rel="noopener noreferrer">and clouds</a>.
    <br/><br/>
    I'm with her, well, also without her...
     
  </p>
</article>
