 $angle: 0deg;
$numPanels: 8;
$color1: (#F9DEC9 #F9DEC9); 
$color2: (#99B2DD #99B2DD); 
$color3: (#E9AFA3 #E9AFA3); 
$color4: (#685044 #685044); 
$color5: (#59C3C3 #59C3C3); 
$color6: (#84A98C #84A98C); 
$color7: (#CAD2C5 #CAD2C5); 
$color8: (#EBEBEB #EBEBEB); 
$color9: #edf2f3;
$colors-list: $color1 $color2 $color3 $color4 $color5 $color6 $color7 $color8;



@mixin gradColor ($color){
      background-image: -webkit-linear-gradient(top left, nth($color, 1),nth($color, 2));
}

body {
 background:$color9;
   -webkit-font-smoothing: antialiased;
  font-family: 'Open Sans', sans-serif;
 
}

.container {
  height: 100px;
	width: 200px;
  margin:0 auto;
	-webkit-perspective: 600px;
  padding:100px 0;
  h1{
    color:#000;
  }
}

.carousel {
	position: relative;
  height: 100px;
	width: 200px;
	-webkit-transform-style: preserve-3d;
	-webkit-transform: translateZ(-500px);
	-webkit-animation: turn 16s linear infinite;
	-webkit-animation-play-state: run;
  &:hover {
    -webkit-animation-play-state: paused;
  }
  .panel {
	  position: absolute;
	  height: 100px;
	  width: 200px;
    top:50%;
    margin-top:-50px;
    left: 12px;
    border-radius: 5px;
    text-align: center;
     background-size:cover;
     background-position:center center;
     background-blend-mode: overlay;
    text-transform:uppercase;
    
.shadow { 
  margin-top: 40%;
   color: Black; 
 
   text-shadow: 1px 1px white, 
                2px 2px white, 
                3px 3px white;
  -webkit-animation: text 3s ease-in-out infinite alternate;
}
.shadow:hover {
   position: relative; 
   top: -3px; 
   left: -3px; 
   text-shadow: 1px 1px white, 
                2px 2px white, 
                3px 3px white, 
                4px 4px white, 
                5px 5px white, 
                6px 6px white;
}
  }
}

@each $cur-color in $colors-list{
    $i: index($colors-list, $cur-color);
  #panel-#{$i} {
      -webkit-transform: rotateY($angle) translateZ(400px);
    @include gradColor (nth($colors-list, $i));
      box-shadow: inset 5px 5px 10px nth($cur-color, 2),
                  inset -5px -5px 10px nth($cur-color, 1);
  }
  $angle: $angle + (360deg/$numPanels);
}




@-webkit-keyframes turn {
  0% { -webkit-transform: translateZ(-500px) rotateY(360deg);}
  100% { -webkit-transform: translateZ(-500px) rotateY(0deg);}
}

@-webkit-keyframes text {
  0% { -webkit-transform: rotateZ(-10deg);}
  100% { -webkit-transform: rotateZ(10deg);}
}
