* {box-sizing: border-box;}

.img-comp-container {
  position: relative;
  height: 300px; /*should be the same height as the images*/
}

.img-comp-img {
  position: absolute;
  width: auto;
  height: auto;
  overflow:hidden;
}

.img-comp-img img {
  display:block;
}

.img-comp-slider {
  position: absolute;
  z-index:9;
  cursor: ew-resize;
  width: 36px;
  height: 36px;
  background-color: #070707;
  opacity: 0.6;
  border-radius: 50%;
}
