html, body{
    margin: 0;
    padding: 0;
    width: 100%;
    background: #fff;
    overflow-x: hidden;
}
.circle{
  width:108px;
  height:88px;
  object-fit:cover;
  border-radius:50%;
}
.man-image{
    width: 60%;
    background: url() no-repeat 50% 50%;
    height: 88vh;
    background-size: cover;
    position: absolute;
}

.parallax{
    background: url(1670730541498.gif) no-repeat 50% 50%;
    background-size: cover;
    position: absolute;
    width: 60%;
    height: 88%;
}

 
}

.whitespace{
    width: 1%;
    height: 1vh;
}

.content{
    background: #fff;
    height: 100vh;
    width: 100%;
    margin: 0 auto;
    padding: 80px 0;
    font-family: Helvetica;
    height: 100vh;
    position: absolute;
    z-index: 1000;
}

p{
    line-height: 40px;
    text-align: justify;
}

.content img{
    width: 100%;
    /* -webkit-filter: drop-shadow(5px 5px 5px rgb(153, 151, 151));
    filter: drop-shadow(5px 5px 5px rgb(129, 129, 129));
    
    -webkit-filter: drop-shadow(-5px -5px 5px rgb(153, 151, 151));
    filter: drop-shadow(-5px -5px 5px rgb(129, 129, 129)); */
}

.content .content-container{
    margin: 0 auto;
    width: 90%;
    padding-top: 100px;
}

.text-container p{
    font-size: 14px;
    opacity: 0.6;
}

.explore-btn{
    border: 1px solid #e2e2e2 !important;
    color: #6ab1f3 !important;
}

.img-container .row{
    margin-left: 40px;
    width: 120%;
}

.img-small{
    margin-top: 50px;
}

@media only screen and (max-width: 520px){
    .img-container .row{
        margin-left: 0;
        width: 100%;
    }

    .whitespace{
        height: 6vh;
    }

    .text{
        width: 94%;
        left: 3vw;
        height: 23vh;
    }

    .content{
        padding: 0;
    }

    .content-container{
        padding-top: 0;
        text-align: center;
    }
    
    .img-small{
        margin-top: 5px;
        padding-bottom: 20px;
        padding-top: 20px;
    }
}
/* Style the video: 100% width and height to cover the entire window */
#myVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
}

/* Add some content at the bottom of the video/page */
.content {
  position: fixed;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  color: #f1f1f1;
  width: 100%;
  padding: 20px;
}

<style type="text/css">
.ath-samsungAndroid {
	bottom: 1.8em;
	left: 50%;
	margin-left: -9em;
}

.ath-stockAndroid {
	right: 1.5em;
	top: 1.8em;
}

.ath-samsungAndroid:after {
	content: '';
	background: #eee;
	background: -webkit-linear-gradient(135deg, rgba(238,238,238,0) 0%,rgba(238,238,238,0) 50%,rgba(238,238,238,1) 50%,rgba(238,238,238,1) 100%);
	position: absolute;
	width: 2em;
	height: 2em;
	bottom: -1.5em;
	left: 0;
}

.ath-stockAndroid:after {
	content: '';
	background: #eee;
	background: -webkit-linear-gradient(-45deg, rgba(238,238,238,0) 0%,rgba(238,238,238,0) 50%,rgba(238,238,238,1) 50%,rgba(238,238,238,1) 100%);
	position: absolute;
	width: 2em;
	height: 2em;
	top: -1.5em;
	right: 0;
}

.ath-container.ath-stockAndroid:before {
	float: left;
	margin: -0.7em 0.5em 0 -0.6em;
}

.ath-container.ath-stockAndroid.ath-icon:before {
	position: absolute;
	right: auto;
	left: 0;
	margin: 0;
	float: none;
}
