@font-face {
  font-family: "casta";
  src: url("./fonts/CASTA-THINSLANTED.OTF") format("otf");
  /* url("/fonts/OpenSans-Regular-webfont.woff") format("woff"); */
}
@font-face {
  font-family: "dx";
  src: url("./fonts/DXRIGRAF-SEMBDEXPITA.OTF") format("otf");
  /* url("/fonts/OpenSans-Regular-webfont.woff") format("woff"); */
}
* {
  margin: 0;
  padding: 0;
}
body {
  overscroll-behavior: none;
  color: white;
  background-color: black;
  overflow: hidden;
  width: 100%;
  height: 100%;
}
canvas {
  display: block;
  margin-top: 20px;
}
.grain {
  z-index: 10;
  height: 100vh;
  width: 100%;
  position: absolute;
  pointer-events: none;
  /* background-color: green; */
}
.grain::after {
  animation-name: grainAnim;
  animation-duration: 8s;
  animation-timing-function: steps(5);
  animation-iteration-count: infinite;
  background-image: url("https://www.transparenttextures.com/patterns/otis-redding.png");
  content: "";
  height: 300%;
  left: -50%;
  opacity: 1;
  position: fixed;
  top: -100%;
  width: 300%;
  z-index: 50;
  pointer-events: none;
  /* filter: grayscale(100%); */
}
header {
  display: flex;
  align-items: center;
  width: 100%;
  min-height: 65px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  /* margin-bottom: 0px; */
  /* background-color: red; */
}
header .logo {
  /* position: fixed; */
  top: 0;
  left: 6.6vw;
  margin-left: 3.3vw;
  /* height: 2px; */
  /* width: 280px; */
  display: flex;
  align-items: center;
  z-index: 9;
  cursor: pointer;
}
header .logo h2 {
  font-family: casta, sans-serif;
  text-transform: uppercase;
  font-size: 1rem;
  letter-spacing: 0.25rem;
  font-weight: 600;
  /* text-decoration: line-through; */
}
.burger {
  width: 40px;
  height: 40px;
  /* background:red; */
  position: fixed;
  /* top: 0; */
  left: auto;
  right: 3.3vw;
  display: flex;
  align-items: center;
  overflow: hidden;
  z-index: 10;
  transition: transform 0.3s cubic-bezier(0.5, 0.7, 0.4, 1);
  transform: translateX(0);
}
.burger .burger__button {
  position: absolute;
  cursor: pointer;
  border: none;
  background: none;
  outline: none;
}
.burger span {
  height: 2px;
  width: 30px;
  background-color: #fff;
  margin: 6px 0;
  display: block;
}
h1 {
  font-family: casta, sans-serif;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 6em;
  text-transform: uppercase;
  letter-spacing: 10px;
  /* color: black; */
  white-space: nowrap;
  /* text-decoration: line-through; */
  /* mix-blend-mode: difference; */
}
p {
  font-family: casta, sans-serif;
  text-transform: uppercase;
  position: absolute;
  bottom: 57.5%;
  left: 50%;
  transform: translate(-50%, -60%);
  /* color: black; */
  font-size: 0.7rem;
  z-index: 1;
  padding-top: 2rem;
  font-weight: 600;
  letter-spacing: 5px;
  /* padding-bottom: 3rem;  */
  transition: ease-out;
  /* animation: scrolldown 1s ease 2s infinite alternate; */
}
.copyright {
  font-family: casta, sans-serif;
  text-transform: uppercase;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 0%);
  /* color: black; */
  font-size: 0.7rem;
  z-index: 1;
  padding-top: 2rem;
  margin-bottom: 15px;
  font-weight: 600;
  letter-spacing: 5px;
  /* padding-bottom: 3rem;  */
  transition: ease-out;
  /* animation: scrolldown 1s ease 2s infinite alternate; */
}
@keyframes scrolldown {
  from {
    opacity: 0;
    transform: translateY(0);
  }
  to {
    opacity: 1;
    transform: translateY(10px);
  }
}
@keyframes grainAnim {
  0%,
  100% {
    transform: translate(0, 0);
  }
  10% {
    transform: translate(-5%, -10%);
  }
  20% {
    transform: translate(-15%, 5%);
  }
  30% {
    transform: translate(7, -25%);
  }
  40% {
    transform: translate(-5%, 25%);
  }
  50% {
    transform: translate(-15%, 10%);
  }
  60% {
    transform: translate(15%, 0%);
  }
  70% {
    transform: translate(0%, 15%);
  }
  80% {
    transform: translate(3%, -35%);
  }
  90% {
    transform: translate(-10%, 10%);
  }
}
