:root{
    --text: #777777;
    --blackout: rgba(0, 0, 0, 0.6);
    --input: #ADADAD;
    --lines: #D5D5D5;
    --footer: #F7F7F7;
    --button: #393246;
    --white: #FFFFFF;
    --aside-height: 110px;
}

*{
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

body{
    font-family: "Roboto Condensed";
}

.container{
    max-width: 1200px;
    margin: 0 auto;
}

a{
    color: var(--text);
    text-decoration: none;
}

p{
    font-size: 16px;
    color: var(--text);

}
.subtitle{
    font-size: 18px;
}

.menu{
    font-size: 14px;
    color: var(--text);
}

h1{
    font-size: 140px;
    color: var(--text);
    text-transform: uppercase;
}

h2{
    font-size: 40px;
    text-transform: uppercase;
    font-weight: 300;
    color: var(--text);

}

h3{
    font-size: 30px;
    text-transform: uppercase;
    font-weight: 300;
    color: var(--text);
}

h4{
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 300;
    color: var(--text);
}

.w-1{
    grid-column: span 1;
}
  
.w-2{
    grid-column: span 2;
}
  
.w-3{
    grid-column: span 3;
}
  
.w-4{
    grid-column: span 4;
}
  
.h-1{
    grid-row: span 1;
}
  
.h-2{
    grid-row: span 2;
}
  
.h-3{
    grid-row: span 3;
}
  
.h-4{
    grid-row: span 4;
}
aside{
    overflow: hidden;
    height: 0;
}
.button{
    padding: 13px 0;
    max-width: 198px;
    font-size: 16px;
    position: relative;
    transition: all .3s;
    display: block;
    text-align: center;
    width: 100%;
    background: transparent;
    cursor: pointer;
    &:before{
        background: var(--button);
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -2;
        content: '';
    }
    &:after{
        background: #4A415A;
        width: 100%;
        height: 0;
        bottom: 0;
        left: 0;
        position: absolute;
        content: '';
        transition: all .3s;
        z-index: -1;
    }
    span{
        z-index: 3;
        color: var(--white);
    }
    &:hover{
        &:after{
            height: 100%;
        }
    }
    &:active{
        &:after{
            background: #63557C;
        }
    }
    &.hollow{
        outline: 1px solid var(--button);
        background: transparent;
        span{
            color: var(--button);
            transition: all .3s;
        }
        &:after{
            background: var(--button);
        }
        &:before{
            background: transparent;
        }
        &:hover{
            span{
                color: var(--white);
            }
        }
        &:active{
            &:after{
                background: #4A415A;
            }
        }
    }
    &_application{
        position: relative;
        display: inline-flex;
        padding-right: 30px;
        transition: all .3s;
        img{
            position: absolute;
            top: 0;
            right: 0;
        }
        &:after{
            bottom: 0;
            left: 0;
            width: 100%;
            height: 1px;
            background: var(--lines);
            transition: all .3s;
            position: absolute;
            content: '';
        }
        span{
            font-size: 40px;
            font-weight: 300;
            text-transform: uppercase;
        }
        &:hover{
            span{
                color: var(--button);
            }
            &:after{
                height: 2px;
                background: var(--button);
            }
        }
    }
}

header{
    position: absolute;
    border-bottom: 1px solid var(--lines);
    width: 100%;
    z-index: 11;
    transition: .3s;
    top: 0;
    left: 0;
    &:after{
        height: var(--aside-height);
        width: 0;
        background: #000;
        transition: all .4s ease-in-out .4s;
        position: absolute;
        content: '';
        right: 0;
        top: 0;
        z-index: -1;
    }
    &.stick{
        position: fixed;
        top: 0;
        left: 0;
        transition: all .3s;
        &:before{
            width: 100%;
            height: 100%;
            background: var(--white);
            position: absolute;
            top: 0;
            left: 0;
            content: '';
            z-index: -2;
        }
        .header__link{
            color: var(--text);
            &:after{
                background: var(--text);
            }
        }
        .logo svg{
            
            fill: var(--button);
        }
        .header-phone{
            svg{
                stroke: var(--button);
            }
        }
    }
}

.header{
    &__container{
        display: flex;
        justify-content: space-between;
        align-items: center;
        
        padding: 30px 0;
        .logo{
            flex: 1;
            svg{
                fill: var(--white);
            }
        }
    }
    
    &-phone{
        flex: 1;
        display: flex;
        align-items: center;
        justify-content: end;
        .header__link{
            display: flex;
            align-items: center;
            gap: 5px;
            padding-bottom: 5px;
        }
        svg{
            stroke: var(--white);
        }
    }
    &-menu{
        display: flex;
        gap: 50px;
        flex: 3;
        justify-content: center;
        &-icon{
            display: none;
        }
    }
    &__link{
        font-size: 14px;
        color: var(--white);
        text-transform: uppercase;
        position: relative;
        letter-spacing: 0.15em;
        span{
            letter-spacing: 5%;
        }
        &:after{
            width: 0;
            height: 1px;
            position: absolute;
            content: '';
            bottom: 0;
            left: 0;
            background: var(--white);
            transition: all .3s;
        }
        &:hover{
            &:after{
                width: 100%;
            }
        }
    }
    &_dark{
        background: var(--white);
        .header__link{
            color: var(--text);
            &:after{
                background: var(--text);
            }
        }
        .logo svg{
            fill: var(--button);
        }
        .header-phone{
            svg{
                stroke: var(--button);
            }
        }
    }
}

.main{
    position: relative;
    min-height: 800px;
    &-background{
        position: absolute;
        top: 0;
        width: 100%;
        height: 100%;
        overflow: hidden;
        background-color: var(--blackout);
        img{
            z-index: -1;
            position: absolute;
            object-fit: cover;
            object-position: 50% 50%;
            width: 100%;
            height: 100%;
        }
    }
    .container{
        position: relative;
        z-index: 1;
    }
    h1,h2{
        padding-top: 270px;
        text-align: center;
        color: var(--white);
        font-weight: 300;
        line-height: 164px;
    }
    h2{
        line-height: 47px;
        padding-top: 353px;
    }
    h4{
        font-weight: 300;
        color: var(--white);
        text-align: center;
        padding-top: 10px;
        max-width: 632px;
        margin: 0 auto;
        line-height: 27px;
    }
    .subtitle{
        text-align: center;
        color: var(--white);
        font-weight: 300;
    }
    &.error{
        h2{
            padding-top: 0;
        }
    }
}

.advantages{
    padding-top: 150px;
    padding-bottom: 50px;
    h2{
        padding-bottom: 50px;
    }
    &-wrapper{
        display: flex;
        gap: 100px;
    }
    &-list{
        .subtitle{
            padding-bottom: 50px;
            position: relative;
            font-weight: 300;
            &:after{
                position: absolute;
                content: '';
                bottom: 0;
                left: 0;
                width: 100%;
                height: 1px;
                background: var(--lines);
            }
        }
    }
}

.spoiler{
    padding: 25px 0;
    position: relative;
    cursor: pointer;
    &:after{
        position: absolute;
        content: '';
        bottom: 0;
        left: 0;
        width: 100%;
        height: 1px;
        background: var(--lines);
    }
    &-visible{
        display: flex;
        justify-content: space-between;
        align-items: center;
        h4{
            max-width: 362px;
        }
        img{
            transition: .3s;
        }
    }
    &-hidden{
        opacity: 0;
        max-height: 0;
        overflow: hidden;
        transition: all .3s;
        padding-right: 90px;
    }
    &.active{
        .spoiler-visible img{
            transform: rotate(-90deg)
        }
        .spoiler-hidden{
            opacity: 1;
            padding-top: 12px;
            max-height: 100px;
            height: 100%;
        }
    }
}

.portfolio{
    padding-top: 100px;
    h2{
        text-align: center;
    }
    .button{
        margin: 0 auto;
        margin-top: 40px;
    }
    .container {
        text-align: center;
    }
    .button_application{
        margin: 130px 0;
    }
}

.navbar{
    padding-top: 100px;
    display: flex;
    justify-content: center;
    ul{
        display: flex;
        list-style-type: none;
        gap: 50px;
        position: relative;
        padding-bottom: 10px;
        &:after{
            width: 100%;
            bottom: 0;
            left: 0;
            height: 1px;
            background: var(--lines);
            content: '';
            position: absolute;
        }
    }
    &-item{
        position: relative;
        padding-right: 17px;
        text-transform: uppercase;
        cursor: pointer;
        span{
            font-weight: 400;
        }
        &__count{
            font-size: 14px;
            top: -5px;
            right: 0;
            position: absolute;
            color: var(--text);
            
        }
        &.selected{
            .menu{
                color: var(--button);
                position: relative;
                &:after{
                    width: 100%;
                    bottom: -10px;
                    left: 0;
                    height: 2px;
                    background: #000;
                    content: '';
                    position: absolute;
                    z-index: 2;
                }
            }
        } 
    }
}

.gallery{
    padding-top: 40px;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-gap: 30px;
    grid-auto-flow: dense;
    grid-auto-rows: 300px 300px;
    &-item{
        position: relative;
        width: 100%;
        height: 100%;
        cursor: pointer;
        &-hidden{
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            opacity: 0;
            background: var(--blackout);
            transition: .3s;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            gap: 10px;
            h4, p{
                color: var(--white);
                font-weight: 300;
            }
        }
        &:hover{
            .gallery-item-hidden{
                opacity: 1;
            }
        }
        .image{
            width: 100%;
            height: 100%;
            overflow: hidden;
            img{
                width: 100%;
                height: 100%;
                object-fit: cover;
                object-position: 50% 50%;
            }
        }
    }
}

footer{
    padding: 95px 0;
    background: var(--footer);
    small{
        display: block;
        padding-top: 30px;
        text-align: center;
        color: #878787;
        font-size: 13px;
    }
}

.footer-wrapper{
    display: flex;
    justify-content: center;
    gap: 30px;
    a{
        position: relative;
        &:after{
            width: 0;
            height: 1px;
            position: absolute;
            content: '';
            bottom: 0;
            left: 0;
            background: var(--text);
            transition: all .3s;
        }
        &:hover{
            &:after{
                width: 100%;
            }
        }
    }
}

.card-image{
    margin-top: 100px;
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    min-height: 800px;
    img{
        z-index: -1;
        position: absolute;
        object-fit: cover;
        object-position: 50% 50%;
        width: 100%;
        height: 100%;
    }
}

.stats{
    padding-top: 150px;
    h3{
        max-width: 530px;
    }
    &-wrapper{
        padding-top: 47px;
        display: flex;
        justify-content: space-between;
        gap: 102px;
    }
    &-info{
        flex: 1;
    }
    &-description{
        flex: 1;
    }
    &-item{
        &:first-child{
            padding-top: 0;
        }
        padding: 24px 0;
        display: flex;
        justify-content: space-between;
        border-bottom: 1px solid var(--lines);
        &-characteristic{
            text-transform: uppercase;
            font-size: 14px;
            color: #878787;
            font-weight: 400;
        }
        &-value{
            font-size: 16px;
            line-height: 24px;
            font-weight: 300;
            font-family: "Roboto";
        }
    }
    &-description{
        max-width: 483px;
        p{
            line-height: 24px;
        }
    }
}

.slider{
    padding-top: 100px;
    .swiper-gallery{
        overflow: hidden;
        position: relative;
    }
}

.swiper-pagination-bullet{
    margin: 0!important;
    width: 87px;
    height: 2px;
    background: var(--lines);
    transition: .3s;
    &-active{
        height: 3px;
        background: var(--button);
        border-radius: 0px;
    }
}

.decision{
    padding-top: 150px;
    h3{
        max-width: 800px;
    }
    &-wrapper{
        padding-top: 50px;
        display: flex;
        justify-content: space-between;
        gap: 102px;
        padding-right: 102px;
        & > *{
            flex: 1;
        }
        p{
            padding-top: 30px;
            line-height: 24px;
        }
    }
}

.features{
    padding-top: 100px;
    &-wrapper{
        display: flex;
        justify-content: space-between;
        gap: 30px;
        padding-top: 24px;
        p{
            font-family: "Roboto";
            line-height: 24px;
            font-weight: 400;
        }
    }
    &-gallery{
        display: flex;
        gap: 30px;
        flex-wrap: wrap;
        padding-top: 44px;
        &-image{
            overflow: hidden;
            img{
                width: 100%;
                height: 100%;
                object-fit: cover;
                object-position: 50% 50%;
                cursor: pointer;
                transition: .3s ease-in-out;
                &:hover{
                    transform: scale(1.2);
                }
            }
        }
    }
}

.projects{
    padding-top: 150px;
    padding-bottom: 130px;
    text-align: center;
    .button_application{
        margin-top: 130px;
    }
}

.swiper-projects{
    padding-top: 50px;
    overflow: hidden;
    position: relative;
    .swiper-slide{
        .swiper-image{
            width: 100%;
            height: 100%;
            overflow: hidden;
            img{
                width: 100%;
                height: 100%;
                object-fit: cover;
                object-position: 50% 50%;
            }
        }
    }
    
}

.services{
    padding-top: 205px;
    h2{
        text-align: center;
    }
    &-wrapper{
        padding-top: 100px;
        display: flex;
        justify-content: space-between;
        gap: 130px;
    }
    &-title{
        flex: 1;
    }
    &-info{
        flex: 2;
    }
    &-item{
        padding: 25px 0;
        border-bottom: 1px solid var(--lines);
        &:first-child{
            padding-top: 0;
        }
        h4{
            padding-bottom: 12px;
        }
        p{
            max-width: 74%;
        }
    }
}

.cost{
    padding-top: 150px;
    h3{
        text-align: center;
    }
    &-list{
        padding-top: 58px;
        display: flex;
        justify-content: space-between;
        gap: 30px;
        &.shown{
            .cost-item-hidden{
                min-height: 390px;
                max-height: 390px;
                padding: 30px 0;
            }
        }
    }
    &-item{
        flex: 1;
        &-visible{
            border: 1px solid var(--lines);
            border-bottom-width: 0px;
            padding-top: 33px;
            h3{
                text-align: center;
                font-weight: 400;
            }
        }
        &-link{
            &_mob{
                display: none;
            }
        }
        &.recommended{
            .cost-item-visible{
                border: 2px solid var(--button);
                border-bottom: 0px;
                position: relative;
                &:after{
                    background: var(--white);
                    top: -11px;
                    left: 50%;
                    transform: translate(-50%, 0%);
                    content: 'Recommend';
                    text-transform: uppercase;
                    padding: 1px 5px;
                    position: absolute;
                    color: var(--text);
                    letter-spacing: .15em;
                }
            }
            .cost-item-hidden{
                border: 2px solid var(--button);
                border-bottom: 0;
                border-top: 1px solid var(--lines);
            }
        }
        &-price{
            display: block;
            text-align: center;
            font-size: 25px;
            text-transform: uppercase;
            color: var(--text);
            padding-bottom: 30px;
        }
        &-hidden{
            border: 1px solid var(--lines);
            border-bottom-width: 0px;
            max-height: 0;
            min-height: 0;
            transition: .3s;
            overflow: hidden;
            ul{
                list-style-type: none;
                display: flex;
                flex-direction: column;
                gap: 15px;
                padding: 0 30px;
                li{
                    font-size: 16px;
                    color: var(--text);
                }
            }
            .button{
                display: none;
            }
        }
        .button{
            width: 100%;
            max-width: none;
            
            svg{
                stroke: var(--white);
                transition: all .3s;
            }
            &.hollow{
                svg{
                    stroke: var(--button);
                }
                &:hover{
                    svg{
                        stroke: var(--white);
                    }
                }
            }
        }
    }
    &-button{
        padding-top: 50px;
    }
    #cost-switch{
        display: flex;
        align-items: center; 
        justify-content: center;
        gap: 10px;
        #text{
            span{
                display: none;
                text-transform: uppercase;
                font-size: 14px;
                font-weight: 400;
                letter-spacing: .15em;
                &.visible{
                    display: inline;
                    color: var(--button);
                }
            }
        }
        &.active{
            img{
                transform: rotate(180deg);
            }
        }
    }
}

.swiper-navigation{
    position: absolute;
    top: 50%;
    left: 0;
    display: flex;
    justify-content: space-between;
    width: 100%;
    z-index: 2;
    .project-navigation{
        &-left, &-right{
            width: 40px;
            height: 40px;
        }
        &-left{
            margin-left: 30px;
        }
        &-right{
            margin-right: 30px;
        }
    }
    .galery-navigation{
        &-left, &-right{
            width: 40px;
            height: 40px;
        }
        &-left{
            margin-left: 30px;
        }
        &-right{
            margin-right: 30px;
        }
    }
}

.swiper-projects, .swiper-gallery{
    padding-bottom: 15px;
}

.swiper-projects-pagination, .swiper-gallery-pagination{
    bottom: 0px!important;
}

.contact{
    padding-top: 205px;
    h2{
        text-align: center;
    }
    &-wrapper{
        padding-top: 100px;
        display: flex;
        justify-content: space-between;
        gap: 223px;
    }
    &-form{
        flex: 5;
        h3{
            padding-bottom: 30px;
        }
        &-inputs-send{
            display: flex;
            justify-content: space-between;
            gap: 30px;
            padding-top: 30px;
            align-items: center;
            padding-bottom: 130px;
            .button{
                padding: 22px 0;
                svg{
                    stroke: var(--white);
                }
            }
            small a{
                text-decoration: underline;
                color: var(--button);
            }
        }
    }
    &-info{
        flex: 6;
        h3{
            padding-bottom: 30px;
        }
        a, p{
            display: flex;
            gap: 17px;
            padding-bottom: 27px;
            align-items: center;
        }
    }
}

.input {
    padding-top: 10px;
    position: relative;
    &__label {
        position: absolute;
        left: 0;
        top: 0;
        padding-top: 35px;
        white-space: nowrap;
        transform: translate(0, 0);
        transform-origin: 0 0;
        transition: transform 100ms ease-in;
        line-height: 1.2;
        cursor: text;
        font-size: 16px;
        font-weight: 300;
        font-family: "Roboto";
        color: var(--input);
    }
    &__field {
        display: block;
        width: 100%;
        border-bottom: 1px solid var(--lines);
        transition: .3s;
        padding-top: 35px;
        background: transparent;
        outline: none;
        padding-bottom: 10px;
        color: var(--text);
        font-family: "Roboto";
        font-weight: 300;
        &:focus{
            border-bottom: 2px solid var(--button);
        }
        &:focus, &:not(:placeholder-shown) {
            & + .input__label {
                transform: translate(0, -10%) scale(.6);
            }
            margin-bottom: -1px;
        }
    }
}

.fileUpload{
    margin-top: 46px;
    display: flex;
    gap: 10px;
    cursor: pointer;
    align-items: center;
    span{
        font-family: "Roboto";
        font-weight: 700;
        color: var(--text);
    }
}

#file-upload{
    display: none;
}

.blackout{
    background: var(--blackout);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: -2;
    opacity: 0;
    transition: opacity .3s, z-index .1s .1s;
    &.active{
        transition: opacity .3s .1s;
        z-index: 12;
        opacity: 1;
    }
}

.modal{
    position: absolute;
    width: 100%;
    height: 100%;
    &-send{
        position: absolute;
        max-width: 800px;
        width: 100%;
        background: var(--white);
        left: 50%;
        top: 45%;
        z-index: -2;
        opacity: 0;
        transition: all .3s;
        transform: translate(-50%, -50%);
        padding: 50px;
        &.active{
            top: 50%;
            opacity: 1;
            z-index: 5;
        }
        &-form{
            &-input{
                &-fields{
                    display: flex;
                    justify-content: space-between;
                    gap: 30px;
                    label{
                        flex: 1;
                        span{
                            padding-top: 40px;
                        }
                    }
                }
                &-respond{
                    display: flex;
                    gap: 30px;
                    padding-top: 40px;
                    align-items: center;
                    .button{
                        padding: 22px 0;
                        svg{
                            stroke: var(--white);
                        }
                    }
                    small{
                        font-size: 13px;
                        width: 50%;
                        a{
                            text-decoration: underline;
                            color: var(--button);
                        }
                    }
                }
            }
        }
    }
    &-confirm{
        position: absolute;
        max-width: 607px;
        width: 100%;
        background: var(--white);
        left: 50%;
        top: 45%;
        z-index: -2;
        opacity: 0;
        transition: all .3s;
        transform: translate(-50%, -50%);
        padding: 50px;
        &.active{
            top: 50%;
            opacity: 1;
            z-index: 5;
        }
        &-info{
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            h3{
                max-width: 80%;
                text-align: center;
                padding: 20px 0;
            }
            p{
                max-width: 60%;
                text-align: center;
            }
            &-wrapper{
                display: flex;
                justify-content: center;
                gap: 30px;
                width: 100%;
                list-style-type: none;
                padding-top: 40px;
                li{
                    font-size: 14px;
                    font-weight: 300;
                    text-transform: uppercase;
                }
            }
        }
    }
    .close-button{
        position: absolute;
        top: 0;
        right: 0;
        z-index: 6;
        transform: translate(0%, -100%);
        cursor: pointer;
    }
}

@media(max-width: 1270px){
    .container{
        max-width: 930px;
    }
    .main{
        min-height: 600px;
        h2{
            padding-top: 250px;
        }
    }
    .gallery{
        grid-auto-rows: 200px 200px;
    }
    .spoiler.active .spoiler-hidden{
        max-height: 150px;
    }
    .advantages-image{
        width: 100%;
        height: 100%;
        max-width: 450px;
        min-height: 528px;
        overflow: hidden;
        flex: 1;
        position: relative;
        z-index: 1;
        img{
            position: absolute;
            object-fit: cover;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);
            z-index: 1;
        }
    }
    .advantages-list{
        flex: 1;
    }
    .features-gallery-image{
        max-width: 450px;
    }
}

@media(max-width: 980px){
    .container{
        max-width: 678px;
    }
    .header-phone{
        svg{
            transition-delay: .2s;
            stroke: var(--button);
        }
    }
    .header__link{
        transition-delay: .2s;
        color: var(--text);
        &:after{
            background: var(--text);
        }
    }
    .logo svg{
        
        fill: var(--button);
        transition-delay: .4s;
    }
    .advantages-wrapper{
        flex-direction: column;
    }
    .advantages-image{
        max-width: none;
        img{
            width: 100%;
        }
    }
    .gallery{
        grid-template-columns: repeat(2, 1fr);
    }
    .modal{
        &-send, &-confirm{
            max-width: 600px;
        }
    }
    .header-menu{
        display: none;
    }
    .header-menu-icon{
        button.active span{
            &:nth-child(2){
                content: "";
                top: 25px;
                transform: rotate(45deg);
                transition: top 300ms, transform 300ms 300ms cubic-bezier(0,0,1,1);
            }
            &:nth-child(3){
                content: "";
                top: 25px;
                transform: rotate(-45deg);
                transition: top 300ms, transform 300ms 300ms cubic-bezier(0,0,1,1);
            }
            &:nth-child(1){
                background: rgba(255, 255, 255, 0)!important; 
            }
        }
        
        button{
            width: 50px;
            height: 50px;
            border: 0px;
            padding: 0;
            position: relative;
            z-index: 10;
            background: transparent;
            span{
                position: absolute;
                top:25px;
                left:30%;
                content: '';
                display: inline-block;
                width: 40px;
                height: 3px;
                background-color: var(--white);
                transition: background-color .1s ease-in .7s;
                transition: .3s;
                &:nth-child(2){
                    top: 15px;
                    transition: top 300ms 300ms, transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
                }
                &:nth-child(3){
                    top:35px;
                    transition: top 300ms 300ms, transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
                }
                
            }
        }
    }
    header.stick, .header-dark{
        .header-menu-icon button span{
            background: var(--button);
        }
    }
    .header-menu-icon{
        display: block;
    }
    .stats-wrapper{
        flex-direction: column;
        gap: 30px;
    }
   .stats-description{
       max-width: none;
   } 
   .slider{
       overflow: hidden;
    .swiper-gallery{
        overflow: visible;
    }
    .swiper-slide{
        overflow: hidden;
    }
   }
   .decision-wrapper{
        padding-right: 0;
    }
    .features-gallery-image{
        max-width: 324px;
        max-height: 324px;
    }
    .contact-wrapper{
        flex-direction: column;
        gap: 70px;
    }
    .contact-form-inputs-send{
        padding-bottom: 0;
    }
    .contact{
        padding-top: 175px;
    }
    .contact-wrapper{
        padding-top: 70px;
    }
    .contact-info-wrapper{
        display: flex;
        gap: 70px;
    }
    .services-wrapper{
        padding-top: 70px;
        flex-direction: column;
        gap: 30px;
    }
    .cost{
        padding-top: 70px;
    }
    .cost-list{
        flex-direction: column;
        gap: 30px;
        &.shown{
            .cost-item-hidden{
                min-height: 0;
                max-height: 0;
                padding: 0;
            }
        }
    }
    .cost-item-link{
        display: none;
        &_mob{
            display: block;
            .button{
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 10px;
                #text span{
                    display: none;
                    &.visible{
                        display: block;
                    }
                }
            }
        }
    }
    .cost #cost-switch{
        display: none;
    }
    .cost-item-hidden.active{
        min-height: 420px;
        max-height: 420px;
        padding: 30px 0 0;
    }
    .cost-item-hidden{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        position: relative;
        gap: 30px;
        
        .cost-item-link{
            display: block;
            width: 100%;
            position: relative;
            bottom: -2px;
            .button{
                display: block;
                
            } 
        }
    }
    .projects{
        padding-top: 70px;
    }
    .cost-button{
        padding-top: 0;
    }
    .swiper-navigation{
        display: none;
    }
    aside{
        z-index: 10;
        position: fixed;
        width: 100%;
        height: 0;
        top: 0;
        left: 0;
        overflow: hidden;
        transition-delay: .7s;
        
        .menu{
            position: absolute;
            top: var(--aside-height);
            left: 0;
            width: 100%;
            height: 0;
            overflow: hidden;
            transition: all .4s ease-in-out;
            background: #000;
        }
        &.active{
            transition-delay: 0s;
            height: 100%; 
            .menu{
                height: 100%;
                
                transition: all .4s ease-in-out .5s;
            }
        }
    }
    header.menu-enabled{
        &:after{
            width: 100%;
            transition: all .4s ease-in-out;
        }
        .logo__link svg{
            transition-delay: .2s;
            fill: var(--white) !important;
        }
        a{
            transition-delay: .2s;
            color: var(--white) !important;
            svg{
                transition-delay: .2s;
                stroke: var(--white)!important;
            }
        }
        button{
            span{
                background: var(--white)!important;
            }
        }
        background: transparent;
    }
    .menu{
        ul{
            display: flex;
            justify-content: center;
            align-items: center;
            padding-top: 114px;
            gap: 19px;
            flex-direction: column;
            list-style-type: none;
            li a{
                font-size: 20px;
                color: var(--white);
                text-transform: uppercase;
                letter-spacing: 8%;
                font-weight: 300;
            }
        }
    }
}

@media(max-width: 760px){
    .container{
        max-width: none;
        padding: 0 15px;
    }
    .portfolio{
        padding-top: 0;
        .button_application{
            margin: 70px 0px;
        }
    }
    .main{
        h1{
            padding-top: 156px;
        }
        h4{
            padding-top: 0;
        }
    }
    .advantages{
        padding-top: 70px;
    }
    .navbar{
        padding-top: 30px;
    }
    .header__container{
        padding: 20px 15px;
    }
    .header__link{
        color: var(--white);
        stroke: var(--white);
    }
    .features-gallery-image{
        max-width: none;
        max-height: none;
    }
    .features-gallery{
        justify-content: center;
    }
    .decision-wrapper, .features-wrapper{
        flex-direction: column;
        gap: 30px;
    }
    .projects{
        padding-bottom: 70px;
        .button_application{
            margin-top: 70px;
        }
    }
    .swiper-slide img{
        width: 100%;
    }
    .swiper-pagination-bullet{
        max-width: 61px;
    }
    .decision, .stats, .projects{
        padding-top: 70px;
    }
    .card-image{
        min-height: 250px;
        margin-top: 30px;
    }
    .features{
        padding-top: 30px;
    }
    .main{
        min-height: 480px;
    }
    .services-item{
        p{
            max-width: none;
        }
    }
    .modal-send{
        max-width: 290px;
        padding: 15px;
        &-form-input-fields{
            flex-direction: column;
            gap: 0px;
        }
        .input{
            padding-top: 0;
        }
        &-form-input-respond{
            flex-direction: column;
        }
    }
    .modal-confirm{
        padding: 15px;
        h3{
            max-width: none;
        }
        p{
            max-width: none;
        }
        &-info-wrapper li{
            &:nth-child(3), &:nth-child(4){
                display: none;
            }
        }
    }
    .modal-send-form-input-respond small{
        width: 100%;
    }
    .modal-confirm{
        max-width: 260px;
        padding: 11px;
    }
    h1{
        font-size: 60px;
    }
    h2{
        font-size: 30px;
    }
    h3{
        font-size: 20px;
    }
    h4{
        font-size: 16px;
    }
}
@media(max-width: 550px){
    .gallery{
        grid-template-columns: repeat(1, 1fr);
        grid-auto-rows: 300px 300px;
    }
    .w-2, .w-3, .w-4{
       grid-column: span 1;
    }
    .navbar{
        gap: 30px;
        overflow-x: scroll;
        justify-content: start;
        &-item{
            flex-shrink: 0;
        }
    }
    .button_application{
        span{
            font-size: 16px;
        }
        img{
            width: 21px;
            height: 21px;
        }
    }
    .contact-info-wrapper{
        flex-direction: column;
        gap: 0px;
    }
    .contact-form-inputs-send{
        flex-direction: column;
        .button{
            width: 100%;
            max-width: none;
        }
    }
}
