---
layout: layouts/base.njk
textNav:
  aliases: [home, index]
eleventyNavigation:
  key: bio
  title: ink
---
<article class="bio">
  <p class="big-text">
    Hi! I'm <span class="bio__photo" tabindex="0">ink</span>, a or send me an
    <a href="ghostm683@gmail.com">e-mail</a>.
  </p>
</article>
